---
import Layout from "../Layout.astro";
---

<Layout title="Privacy Policy">
  <div class="m-auto mt-12 max-w-2xl p-5 md:mt-16 md:p-0 lg:max-w-4xl">
    <header
      class="my-6 flex flex-col items-center justify-center gap-y-2 text-black dark:text-white"
    >
      <h1 class="text-3xl font-bold md:text-5xl">Privacy Policy</h1>
    </header>

    <p class="text-center text-base text-black dark:text-white">
      We do not collect any personal information because the developer has no
      server.
    </p>

    <div class="my-12"></div>
  </div>
</Layout>
