---
import Layout from "../Layout.astro";
---

<Layout title="隐私政策">
  <div class="m-auto mt-12 max-w-2xl p-5 md:mt-16 md:p-0 lg:max-w-4xl">
    <header
      class="my-6 flex flex-col items-center justify-center gap-y-2 text-black dark:text-white"
    >
      <h1 class="text-3xl font-bold md:text-5xl">隐私政策</h1>
    </header>

    <p class="text-center text-base text-black dark:text-white">
      我们不会收集任何用户隐私信息，因为开发者没有服务器。
    </p>

    <div class="my-12"></div>
  </div>
</Layout>

