<footer
  class="bg-white p-5 transition-all duration-75 ease-out dark:bg-slate-900 dark:text-white"
>
  <div class="mb-2 flex items-center justify-center">
    <a
      href="mailto:me@zhaohe.org"
      class="inline-flex items-center gap-x-2 rounded-full border border-violet-300 px-3 py-1 text-violet-700 hover:bg-violet-50 dark:border-violet-500 dark:text-violet-200 dark:hover:bg-violet-600/20"
    >
      <svg
        class="h-4 w-4"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          d="M2.94 6.34A2 2 0 014.5 5h11a2 2 0 011.56.66l-6.56 4.9a2 2 0 01-2.5 0L2.94 6.34z"
        ></path><path
          d="M18 8.24v5.26A2.5 2.5 0 0115.5 16h-11A2.5 2.5 0 012 13.5V8.24l5.63 4.21a3.5 3.5 0 004.37 0L18 8.24z"
        ></path></svg
      >
      联系
    </a>
  </div>
  <div class="text-center text-xs text-gray-500 dark:text-gray-400">
    © {new Date().getFullYear()} ZhaoHe Studio. All rights reserved.
  </div>
</footer>
