---
import Switch from "./Switch.astro";
---

<nav class="bg-transparent">
  <div class="m-auto flex max-w-6xl items-center justify-between p-2">
    <div class="flex items-center gap-x-4">
      <a href="/" class="inline-flex items-center">
        <img src="/KiraKira-24.png" alt="KiraKira" class="h-6 w-6 rounded" width="24" height="24" />
      </a>
      <a href="/privacy-zh" class="text-black dark:text-white">隐私</a>
      <a href="/privacy-en" class="text-black dark:text-white">Privacy (EN)</a>

      <a
        href="https://github.com/ResistanceTo"
        target="_blank"
        rel="noopener noreferrer"
        class="text-black dark:text-white">GitHub</a
      >
    </div>
    <Switch />
  </div>
</nav>
